<!DOCTYPE html>
<html>
<head>
    <title>Universidade Digital</title>

    <!--fonte-->
    <!--http://demo.themewagon.com/preview/black-n-white-clean-responsive-blog-template-->

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/ud_web/static/src/html/css/custom.css">

    <link rel="shortcut icon" href="/ud_web/static/src/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/ud_web/static/src/favicon.ico" type="image/x-icon">

    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="/"><img class="logo-img" src="/ud_web/static/src/html/img/logo.png"/></a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#mobile-menu" aria-expanded="false">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="mobile-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/?db=ud&action=login">
                                    <button id="acessar" type="button" class="btn btn-primary navbar-btn navbar-right">
                                        Acesse o
                                        sistema
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body container">
    <!-- Inserção de avisos, usado durante o período de inscrição de monitoria -->
    {% for aviso in avisos %}
        <div class="alert alert-info">
            <div class="row">
                {% if aviso.imagem %}
                    <div class="col-sm-2">
                        <img style="margin: auto;" src="data:image/png;base64, {{ aviso.imagem }}"
                             alt="{{ aviso.name }}">
                    </div>
                {% endif %}
                <div class="col-sm-10">
                    <h2>{{ aviso.name }}</h2>
                    <p>{{ aviso.mensagem }}</p>
                    <a href="{{ aviso.link }}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-4">
            <a href="/?db=ud">
                <div class="thumbnail">
                    <img class="thumb-img" src="/ud_web/static/src/html/img/repositorio.png"/>
                    <div class="caption">
                        <h3 class="text-center">Repositório institucional</h3>
                        <p>Consulte e faça o download das publicações disponíveis na biblioteca</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/?db=ud&model=ud_reserva#view_type=calendar&model=ud.reserva&menu_id=249&action=173">
                <div class="thumbnail">
                    <img class="thumb-img" src="/ud_web/static/src/html/img/reserva.png"/>
                    <div class="caption">
                        <h3 class="text-center">Reserva de espaço</h3>
                        <p>Consulte e solicite o agendamento de horários de salas, laboratórios e auditórios</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://ud.arapiraca.ufal.br/?db=ud&action=login#page=0&limit=&view_type=list&model=ud.direcao.portaria&action=241">
                <div class="thumbnail">
                    <img class="thumb-img" src="/ud_web/static/src/html/img/portaria.png"/>
                    <div class="caption">
                        <h3 class="text-center">Portarias</h3>
                        <p>Consulte e faça o download das portarias emitidas pelo Campus Arapiraca</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/?db=ud&action=login">
                <div class="thumbnail">
                    <img class="thumb-img" src="/ud_web/static/src/html/img/servico.png"/>
                    <div class="caption">
                        <h3 class="text-center">Ordem de serviço</h3>
                        <p>Solicite e acompanhe o andamento de realizações de serviços (reparos, instalações,
                            assistências técnicas)</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/?db=ud&action=login">
                <div class="thumbnail">
                    <img class="thumb-img" src="/ud_web/static/src/html/img/patrimonio.png"/>
                    <div class="caption">
                        <h3 class="text-center">Gestão de patrimonio</h3>
                        <p>Cadastro, consulta e monitoramento de bens patrimoniais </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/?db=ud&action=login">
                <div class="thumbnail">
                    <img class="thumb-img" src="/ud_web/static/src/html/img/documentos.png"/>
                    <div class="caption">
                        <h3 class="text-center">Documentos</h3>
                        <p>Cadastro, consulta, emissão e envio de documentos oficiais </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copyright">
                <div class="col-md-4">
                    <img class="footer-logo" src="/ud_web/static/src/html/img/ufal_logo_small.png"/>
                    <img class="footer-logo" src="/ud_web/static/src/html/img/nti_logo.png"/>
                </div>
                <p class="col-md-6 text-left">
                    <a href="http://arapiraca.ufal.br"><span>&copy; Universidade Federal de Alagoas - Campus Arapiraca </span></a><br/>
                    <span>Núcleo de tecnologia da informação - NTI Arapiraca</span>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
