@charset "utf-8";

.ud_menu{
position:absolute;
top: 39px;
left: 15%;
display:block;
background:#003258 url('../img/menu.png') no-repeat;
font-size:18px;
padding-left:49px;
padding-top:9px;
height:33px;
color:white;
z-index:2;

}

.openerp .oe_application .oe_breadcrumb_title > * {
display:inherit;
}
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) {
    border: 2px solid #015591;
background: none repeat scroll 0% 0% #FFF !important;
}

.openerp .oe_form input[type="text"], .openerp .oe_form input[type="password"], .openerp .oe_form input[type="file"], .openerp .oe_form select {height: 40px;}

.openerp .oe_topbar .oe_dropdown_menu {

min-width:0px;
max-width: 117px;
}
.openerp .oe_menu {
    font-size: 15px;
}
.openerp .oe_login .oe_login_pane {
position:absolute;
background:none;
border:none;
box-shadow:none;
border-radius:0px;
width:40%;
height:70%;
top: 50%;
left:40%;

}

.openerp img {
vertical-align: middle;
}

.openerp .oe_menu > li > a {
padding: 49px 30px 7px;
color: #FFFFFF;
text-shadow:none;
font-size: 18px;
font-family: arial;
position: relative;
left: -14px;
}
.openerp .oe_login ul, .openerp .oe_login li {
color:#FFFFFF;
}


.openerp .oe_menu > li > .oe_active {
background: none;
text-shadow: none;
box-shadow: none;
color: #FFFFFF;
font-weight: bold;
}



.openerp .oe_menu > li > a:hover {
    background: none;
    text-shadow: none;
color: #FFFFFF;
    box-shadow: none;
}

.openerp .oe_list_content > tbody > tr > td.oe_list_field_cell {
max-width:30px;
overflow:hidden;
}

field_text {

    overflow: scroll;
    max-width: 680px;
    word-break: break-all;
    max-height: 187px;
}

.openerp .oe_form .oe_form_field_text .oe_form_text_content {
overflow: scroll;
max-with:680px;
word-break:break-all;
}

.openerp .oe_login input {
padding:8px 6px;
margin-left:12%;
}


.openerp .oe_login .oe_login_logo {
top:-70px;
}
.openerp .oe_login .oe_login_footer {visibility:hidden;}
.openerp .oe_login {
    background-image: none; 
background:white;
}

.openerp .oe_login .oe_login_error_message {

    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow:none;
    color: rgb(1, 85, 145);
}

.openerp .oe_login input, .openerp .oe_login select {
    
    border: none;
    background: rgb(1, 64,110);
    box-shadow: none;
    border-radius:none;
    height: 40px;
    width: 84%;	
    font-size: 15px;
    color: lavender;
    margin-left:7%;
}


.openerp .oe_login button {
position:absolute;
margin-top:20px;
margin-left:6.5%;
height: 91px;
border: none;
border-radius: 5px;
background-color: lavender;
background-image: none;
box-shadow: none;
color: #015591;
font-size:22px;
width: 77%;

}

.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row {
    text-shadow:none;
}

.openerp .oe_login .oe_login_bottom {
background-color: #015591;
background-image:none;}

.openerp .oe_login {
    background: #015591;
}

.openerp {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    color: #000000;
    text-shadow: none;
}

.openerp .oe_topbar .oe_topbar_item {
    text-shadow: none;
    box-shadow:none;
   
  
}
	
.openerp .oe_topbar .oe_topbar_item:hover {

    background: none;
    text-shadow: none;
    
    box-shadow:none;
 
}

.openerp .oe_topbar .oe_dropdown_arrow:after {
border-top: 4px solid #FFFFFF;
opacity:1;

}

.openerp .oe_topbar .oe_topbar_item:focus{

    background: #3175A6;
}

.openerp .oe_topbar {
    background-color:#003258;
    background-image:none;
height: 121px;
z-index: 1;
width: 87.04%;
    position: absolute;
    right:0%;
}

.openerp .oe_view_manager table.oe_view_manager_header {
     margin-top: -2%; //Area principal
}

.openerp .oe_view_manager table.oe_view_manager_header td {
line-height:28px;
}

.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row:last-child td {
padding-top:13px;
}

.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group li {
position:relative;
top:78px;
right:550px;
}


.openerp .oe_topbar .oe_topbar_avatar {
    width: 60px;
    height: 60px;
    margin: -17px 2px 0px 0px;
    border-radius: 0px;
}

.openerp .oe_topbar .oe_dropdown_menu li a {
    color: #FFFFFF;	
}

.openerp .oe_dropdown_menu{

border-radius:none;
box-shadow: none;

}
.openerp .oe_dropdown_menu > li > a {
    color: #015591;
    width: 185px;
}

.oe_menu_leaf {
margin-left:-9px;
}

.openerp .oe_secondary_menu_section {
    font-weight: bold;
    margin-left: 9px;
    color:  #015591;
font-size:18px;
}

.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group {
    position: absolute;
    top: 60px;
    right: 10px;
}

.openerp .oe_searchview {
    
    width: 400px;
    height:70px;
    border: 1px solid rgb(171, 171, 171);
    background: none repeat scroll 0% 0% white;
    border-radius:0px;
    box-shadow: none;
    right: 100px;
margin-top:33px;
}

.openerp .oe_dropdown_menu > li:hover {
    background-color:#C4C4C4;
    background-image:none; }

.openerp .oe_
 .oe_dropdown_menu li:hover {
    background-color: #015591;
    background-image:none; }

.openerp .oe_secondary_submenu .oe_active {
    text-shadow: none;
}

.openerp .oe_secondary_submenu .oe_active {
    border:none;
    text-shadow:none;
    box-shadow: none;
    background-color:#015591;
}

.openerp .oe_searchview{
border-radius: 6px;
box-shadow: one;
height: 22px;
right: 2px;
top: -39px;
width: 500px;

}

.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row:first-child td {

padding-top:16px;
}

.openerp .oe_view_manager table.oe_view_manager_header .oe_view_manager_buttons {
margin-top:-20px;
}

.openerp .oe_topbar .oe_topbar_item {
    padding: 49px 10px 7px;
}

.openerp .oe_topbar .oe_topbar_item {height:28px;}

.openerp .oe_topbar .oe_dropdown_menu {
  top: 74px;
  background: #3175A6;
  border-radius:0px;
}

.openerp .oe_user_menu .oe_dropdown_menu {
right:9px;
}

.openerp .oe_topbar_item.oe_topbar_compose_full_email button {
top:-13px;
display: none; //Remover logo
}

button {
    background-color: none;	
    background-image:none;
    border:none;
    
    box-shadow:none;
    color: #FFFFFF;	
    cursor: pointer;
    margin: 0;
    padding: 6px 16px;
}


.ud_logoC{
left:20%;
}

.openerp .oe_view_manager_current > .oe_view_manager_header {
    border-bottom: none		;
    background-color: white;
    background-image:none;
    box-shadow:none;
}

.openerp .oe_leftbar {
    display: none;
    width: 220px;
    background: #F2F2F2;
    border-right: 1px solid rgb(175, 175, 182);
    text-shadow: none;
    padding-bottom: 16px;
    visibility:none;
}

.openerp .oe_application a {
    color: #cf260c;
}

.openerp .oe_view_manager table.oe_view_manager_header h2 {
    font-size: 32px;
color: #747474;
font-family: Myriad Pro, Arial;
font-weight: normal;
}

.ui-notify-message-style {
background: #69ABED;
box-shadow:none;
}

.ui-notify-message{
border-radius:0px;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
border-width: none;
border-style: none;
border-radius:none;
text-shadow:none;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
color:#FFFFFF;
}


.ui-notify-cross{ text-shadow:none;}
.ui-notify-message p {
padding: 0px 20px;
border-radius:none;
}
}

.openerp .oe_view_manager table.oe_view_manager_header h2 a {
    color:none;
}

.openerp button.oe_highlight {
    background-color: #CF260C;
height: 30px;
width: 187px;
    background-image: none;
    box-shadow: none;
font-size: 16px;
}

.openerp button.oe_highlight:hover {
    background-color: rgb(200, 16, 16);
    background-image: none;
}

.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp input[type="submit"], .openerp .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
text-shadow:none;
}

.openerp .oe_horizontal_separator{
color:#000000;
}

.openerp.ui-dialog .ui-dialog-titlebar {
    border-bottom:none;
    border-radius: none;
    background-color: #FFFFFF;
    background-image:none;
}


.ui-dialog .ui-dialog-titlebar {
    font-size: 25px;
}

.ui-dialog .ui-dialog-title {
    
    color: #015591;
    
}

.ui-dialog .ui-dialog-buttonpane {
background-color:#FFFFFF;
}

.openerp.ui-dialog .ui-dialog-buttonpane {
background: none repeat scroll 0% 0% #FFFFFF;
}

.openerp.ui-dialog .ui-dialog-titlebar {
  
    background-color:#F2F2F2;
}

.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp input[type="submit"], .openerp .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
border-radius:none;
}

.openerp .oe_topbar .oe_topbar_name {
    display: none;
}

.openerp .oe_login li{
color:#015591;

}

.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row:first-child td {
    padding-top: 43px;
}

.openerp .oe_topbar .oe_dropdown_menu {
border-color:none
top:75px;
right: 10%;

}

.oe_logo{
width:180px;}
