.split-form{
	width: 60% !important;
}
.oe_form_binary_file_save_data {
	display: none !important;
}
.oe_form_binary_file_clear {
	display: none !important;
}
.campo_ano input {
	width: 60px !important;
}