img.slogan_ufal {
	width: 67.2px;
	height: 116.2px;
}

.centralizar{
	text-align: center;
}

.observacao {
	display: block;
	box-shadow: 0px 0px 0px rgba(.0, .0, .0, .5);
	font-size: 12px;
	margin: -10px 20px 0px 0px;
	padding: 10px 10px 10px 10px;
	transition: box-shadow 0.3s;
}

.observacao:HOVER {
	box-shadow: 0px 0px 10px rgba(.0, .0, .0, .5);
}

.tooltip {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	outline: none;
	cursor: help;
}

.tooltip:HOVER {
	text-decoration: none;
}

.tooltip span {
	font-weight: normal;
	z-index: 15;
	display: none;
	padding: 14px 20px;
	margin-top:-30px;
	margin-left:28px;
	width: auto;
	height: auto;
	max-width: 50%;
	line-height: 15px;
	
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.tooltip:HOVER span {
	display: inline;
	position: absolute;
	color: white;
	background: rgba(0, 0, 0, 0.7);
}

span.doc.tooltip {
	font-size: inherit;
	margin-left: -10px;
	font-style: normal;
}

span#template {
	margin-left: 8px;
	color: black;
	font-weight: bold;
	font-size: 12px;
}

/* ========================= Tutorial ==================== */
article {
    display: block;
    position: relative;
    /* border: 1px solid black; */
    min-height: 9.85cm;
    font-size: 11pt;
    text-align: justify;
}
article header {
    display: block;
    position: inherit;
    text-align: right;
    padding: 10px;
    width: 100%;
    margin-bottom: 3%;
}
article header h1 {
    font-size: 18pt;
    margin: 0px;
    padding: 0px;
    font-weight: 900;
}

article h2 {
    font-size: 14pt;
    text-align: left;
}

article header h3 {
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

article p {
/*     margin-left: 20px;
    margin-right: 20px; */
    padding: 0px;
    text-indent: 1.5cm;
    
}

.codigo {
	background-color: #F0F0F0;
	box-shadow: 2px 2px 3px #DFDFDF;
	border: 1px solid #CCC;
	box-shadow: 2px 2px 3px #DFDFDF;
	padding: 10px;
/* 	border-radius:7px; */
	font-size: 14px;
}

.css_head {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #2E8B57;
	font-weight: 700;
}

.css_cont {
	font-weight: normal;
	color: #8B2323;
}

.css_cont span {
	color: black;
}

.html_tag {
	color: #00688B;
	font-weight: 700;
}

.html_tag p span {
	color: #8B2323;
	font-weight: normal;
}

.html_tag p span span {
	color: #00008B;
}

.html_cont {
	color: black;
	font-weight: normal;
/* 	font-size: 12px; */
}

.coment {
	color: #607B8B;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
}

.nivel_1 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-indent: 20px;
}

.nivel_2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-indent: 40px;
}

.nivel_3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-indent: 60px;
}

.nivel_4 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-indent: 80px;
}

.preto {
	color: black;
}